RewriteEngine On

RewriteCond %{REQUEST_URI} ^/[^a-zA-Z0-9/_\-\.]+$ [OR]

RewriteCond %{REQUEST_URI} [\?\!\@\#\$\%\^\&\*\(\)\+\=\{\}\[\]\|\\:;"'<>,~]{2,}

RewriteRule .* - [R=404,L]

# Force HTTPS + non-www
# RewriteCond %{HTTPS} off [OR]
# RewriteCond %{HTTP_HOST} !^sisgain\.com$ [NC]
# RewriteRule ^ https://sisgain.com%{REQUEST_URI} [L,R=301]


RewriteCond %{HTTP_HOST} ^(www\.)?sisgain\.com$ [NC]
RewriteCond %{HTTPS} off
RewriteRule ^ https://sisgain.com%{REQUEST_URI} [L,R=301]


# Prevent redirect loops
RewriteCond %{ENV:REDIRECT_STATUS} ^$

# Remove trailing slash except root
RewriteCond %{REQUEST_URI} .+/$
RewriteCond %{REQUEST_URI} !^/$
RewriteRule ^(.+)/$ /$1 [R=301,L]

# Remove .php and .html from URLs
RewriteCond %{THE_REQUEST} \s/+(.*)\.(php|html)[\s?] [NC]
RewriteRule ^ /%1 [R=301,L]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

# Redirect index.php
RewriteRule ^index\.php$ https://sisgain.com/ [R=301,L]
     
# Clean removal for robots.txt blocked URLs
RewriteRule ^(thankyou|web_enquires|index-new).* - [G,L]

# Old redirects
Redirect 301 /remote-patient-monitoring-software-development https://sisgain.com/rpm-software-development-in-usa
Redirect 301 /real-estate https://sisgain.com/real-estate-software-solutions

# Disable directory listing
Options All -Indexes
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

# Error handling
# ErrorDocument 404 /404.php
RewriteRule ^404/?$ /404.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /404 [R=302,L]

ErrorDocument 500 /

# Compression
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/css text/javascript application/javascript application/xhtml+xml application/xml image/svg+xml
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
Header append Vary User-Agent
</IfModule>

# Cache control
<IfModule mod_headers.c>
Header set Cache-Control "no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires 0
</IfModule>

<IfModule mod_expires.c>
ExpiresActive Off
</IfModule>

# PHP handler (cPanel)
<IfModule mime_module>
AddHandler application/x-httpd-ea-php80 .php .php8 .phtml
</IfModule>


RewriteCond %{QUERY_STRING} .+
RewriteRule ^ %{REQUEST_URI}? [R=301,L]


RewriteCond %{THE_REQUEST} \s[^?]*//
RewriteRule ^.*$ /$0 [R=301,L,NE]

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php80” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php80 .php .php8 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
